:root {
    --color-white: white;
    --color-pink: #CC0066;
    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 30px;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7;
    background-color: var(--color-light);
}

html {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 600px;
    background: url(images/index-header-image.jpg) no-repeat center/100%;
    margin-top: 0px;
}

h1 {
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
}

header ul {
    width: auto;
    float: left;
}

header li {
    display: inline-block;
} 

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6vw;
    padding: 0px 2px;
}

a:hover {
    color:lightyellow;
    transition: 0.5s;
}

#navbar-logo {
    width: 15%;
    height: 15%;
}

header h1 {
    color:lightgoldenrodyellow;
    text-align: center;
    width: 100%;
    margin-top: 464px;
}

div h3,h2 {
    text-align: center;
    padding: 36px 36px;
}

div img {
    width: 80%;
    padding: 15px 15px;
}

footer {
    background-color:#333;
    color:lightyellow;
}

#form-div {
    background-color:lightpink;
    border-radius: 1%;
}

table {
    border: 1px solid black;
}

#bottom-navbar-logo {
    object-fit: center;
}