:root {
    --color-white: white;
    --color-pink: #CC0066;
    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 30px;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7;
    background-color: var(--color-white);
}

.navbar-brand {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
    margin-top: -64px;
}

.jumbotron {
    background: url(images/mainPage4.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
}

#cakesJumbotron {
    background: url(images/CakesMainPage.jpg) no-repeat center !important;
}

#piesJumbotron {
    background: url(images/PiesMainPage.jpg) no-repeat center !important;
}

#cupcakesJumbotron {
    background: url(images/CupcakesMainPage.jpg) no-repeat center !important;
}

#cookiesJumbotron {
    background: url(images/cookiesMainPage.jpg) no-repeat center !important;
}

#dessertsJumbotron {
    background: url(images/dessertMainPage.jpg) no-repeat center !important;
}

header .jumbotron nav {
    margin-top: -16px;
    border-radius: 6px;
}

h1 {
    padding: 3px;
    text-align: center;
    margin-left: 2%;
    margin-top: 10px;
    font-family: 'Sansita Swashed', cursive;
}

h3 {
    text-align: center;
}

#navigation_header {
    text-align: center;
    margin: var(--spacing-large) auto;
    font-size: 0.8rem;
}

header ul {
    width: auto;
    float: left;
}

header li {
    display: inline-block;
} 

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6vw;
    padding: 0px 2px;
}

a:hover {
    color:lightyellow;
    transition: 0.5s;
}

header h1 {
    color:lightgoldenrodyellow;
    text-align: center;
    width: 100%;
    margin-top: 464px;
}

div h3,h2 {
    text-align: center;
    padding: 36px 36px;
}

@media (max-width: 768px) {
    #ourStoryImage {
        display: none;
    }
    #customersImage {
        display: none;
    }
}

div img {
    width: 80%;
    padding: 15px 15px;
}

footer {
    background-color:#333;
    color:lightyellow;
}

#homePageOurStory {
    background: url(images/cake_background.png);
}

#homePageServices img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;  
}

#homePageServices p {
    text-align: center;
}

#serviceIcon1, #serviceIcon2, #serviceIcon3, #serviceIcon4 {
    margin: auto;
}

#bottom-navbar-logo {
    height: auto;
    width: auto;
    max-height: 126px;
    max-width: 250px;
}

