#aboutUsJumbotron {
  background: url(../images/about-us-jumbotron.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
}

#aboutUsImageSection {
  background: url(../images/about-us-section-image.jpg) no-repeat center;
  background-size: cover;
  margin-top: 64px;
  height: 100vh;
}

#aboutFinalSection {
  margin: auto;
}

#aboutUsCupcakes {
  margin: auto;
  margin-bottom: 64px;
}

#aboutUsCupcakes img {
  width: 360px;
  height: 360px;
}
