body,html {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

header {
    width: 100%;
    height: 600px;
    background: url(about_us_header.jpg) no-repeat center/100%;
}

h1 {
    position: absolute;
    padding: 3px;
    float: left;
    font-family: 'Sansita Swashed', cursive;
    margin-left: 2%;
    margin-top: 10px;
}

a:hover {
    color:lightyellow;
    transition: 0.5s;
}

#navbar-logo {
    width: 20%;
    height: 20%;
}

header h1 {
    color:lightgoldenrodyellow;
    text-align: center;
    width: 100%;
    margin-top: 390px;
    font-family: 'Sansita Swashed', cursive;
}

#navigation_header {
    text-align: center;
}

div h3,h2 {
    text-align: center;
    padding: 36px 36px;
    font-family: 'Sansita Swashed', cursive;
}

div img {
    width: 80%;
    padding: 15px 15px;
}

footer {
    background-color:#333;
    color:lightyellow;
}

