body,html {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

header {
    width: 100%;
    height: 600px;
    background: url(../images/about_us_header.jpg) no-repeat center/100%;
}

h1 {
    position: absolute;
    padding: 3px;
    float: left;
    font-family: 'Sansita Swashed', cursive;
    margin-left: 2%;
    margin-top: 10px;
}

a:hover {
    color:lightyellow;
    transition: 0.5s;
}

#navbar-logo {
    width: 20%;
    height: 20%;
}

header h1 {
    color:lightgoldenrodyellow;
    text-align: center;
    width: 100%;
    margin-top: 440px;
    font-family: 'Sansita Swashed', cursive;
}

#navigation_header {
    text-align: center;
}

div h3,h2 {
    text-align: center;
    padding: 36px 36px;
    font-family: 'Sansita Swashed', cursive;
}

div img {
    width: 80%;
    padding: 15px 15px;
}

footer {
    background-color:#333;
    color:lightyellow;
}
    
*, *:before, *:after {
    box-sizing: inherit;}
  
  
  h2:hover,h2:active{
  
         background-color: none;
         color:red;
     }
  
  
  
  
  .column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .p{
      color:aqua;
  
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    color:navy;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: blue;
    text-color:blue;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
