
body {
    background-color: #999;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 45px;
    max-width: 80%;
    max-width: 1200px;
    margin: var(--spacing-large) auto;
}
.products-element {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px 5px;
    margin: var(--spacing-small);
    background-color: var( --color-white);
    border: 1px dashed black;
    object-fit: contain;
}
.products-element__name {
    margin-bottom: auto;
    margin-top: var(--spacing-small);
    font-family: 'Sansita Swashed', cursive;
    font-weight: 600;
    text-align: center;
    height: 100px;
    font-size: 1.3rem;
}
.products-element__img {
    max-height: 100%;
    width: 100%;
    height: 250px;
    margin-top: (var--spacing-small);
    object-fit: cover;
}
.products-element__price {
    font-weight: 600;
    color: var(--color-pink);
    margin-top: (var--spacing-small);
    text-align: center;
    font-size: 1rem;
}

.populars_slider {
position: relative;
padding:  0px 30px;

}

.slick-arrow {
position: absolute;
top: 50%;
z-index: 10;
font-size: 0px;
width: 30px;
height: 50px;
background-color: var(--color-pink);
}

.slick-prev {
left: 0px;
background-color: var(--color-pink);
}

.slick-next {
    right: 0px;
    background: url(../images/rightArrow.png); 0 0 / 100% no-repeat;
    }

.slide {


}