
#blogJumbotron {
background: url(../images/blog_header.jpg) no-repeat center;
background-size: cover;
height: 100vh;
}

#article1Btn, #article2Btn, #article3Btn {
    background: var(--color-pink);
    border: 1px solid var(--color-pink);
}

#article-block-2 {
    background: url(../images/cake_background.png) repeat fixed center;
}
