#contactJumbotron {
    background: url(../images/contact-us-jumbotron.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
}

#custom-order-instructions {
    border: 1px solid black;
    width: 60%;
    text-align: center;
}

#contactFirstSection {
    margin: auto;
}

table {
    border: 1px dashed black;
}
